* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
}


nav {
    background-color: #121212;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
}

nav img {
    width: 100%;
    height: auto;
    max-width: 160px;
    border: solid 1px #ffffff44;
    border-radius: 10px;
    padding: 7px;
    padding-right: 5px;

}

@media screen and (max-width:472px) {
    nav img {
        width: 100%;
        height: auto;
        max-width: 110px;
        border: solid 1px #ffffff44;
        border-radius: 7px;
        padding: 7px;
        padding-right: 5px;
    }
}

nav h2 {
    font-size: 19px;
    display: inline;
    margin-right: 23px;
}

@media screen and (max-width:600px) {
    nav h2 {
        font-size: 13px;
        font-weight: 600;
        display: inline;
        margin-right: 8px;  

    }
}
header {
    background-image: linear-gradient(#1534fc, #042d9d);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width:908px) {
    header {
        background-image: linear-gradient(#1534fc, #042d9d);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

header img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
    margin-top: 150px;
    border: solid 12px #121212;
}

@media screen and (max-width:1356px) {
    header img {
      width: 350px;
      height: 350px;
      margin-top: auto;
      margin-left: 50px;
      border: none;
    }
  }

  @media screen and (max-width:908px) {
    header img {
      width: 450px;
      height: 450px;
      margin-top: 40px;    
      margin-left: 0;
    }
  }

  @media screen and (max-width:544px) {
    header img {
        width: 270px;
      height: 270px;
      margin-top: 40px;    
      margin-left: 5px;
      margin-right: 5px;
    }
  }

header h1 {
    margin-bottom: 11px;
    color: white;
}

header .line1 {
    font-size: 45px;
}

header .line1and2 {
    font-size: 30px;
    font-weight: 400;
}

header p {
    color: #f0f0f0;
    max-width: 600px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 30px 70px;

}

main section {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

.row-display {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.project {
    flex-grow: 1;
    height: 300px;
    box-shadow: 0 0 15px rgba(79, 79, 79, 0.268);
    border: solid 1px #313131 ;
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
    position: relative;
}

#first-project-height {
    height: 500px;
}

#left-project {
    margin-right: 20px;
}

.project img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center 30%;
}


.project-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0; /* Align the text to the bottom */
    background-image: linear-gradient(#1534fc, #042d9d);
    width: fit-content;
    height: 60px;
    color: white;
    padding: 13px 25px 15px 25px;
    border-top-right-radius: 5px;
    justify-content: space-evenly;
}

main section h1 {
    margin-bottom: 6px;
}

