/* Reset margins and paddings for all HTML elements */
* {
    margin: 0;
    padding: 0;
}

/*Styling the body section of the page*/
body {
    background-color: #121212; /*Sets a background color to the body*/
    font-family: Arial, Helvetica, sans-serif; /*Defines the font family of text within the body*/
    color: #ebebeb; /*Defines the font color of text within the body*/
}

/*Styling for the navigation bar*/
nav {
    height: 75px; /*Defines the height of the navigation bar*/
    display: flex; /*Sets a flex-box layout*/
    justify-content: space-between; /*Adds space between the image and navigation links*/
    align-items: center; /*Aligns the navigation bar elements vertically*/
    padding-right: 3%; /*Adds padding to the right for spacing*/
    padding-left: 3%; /*Adds padding to the left for spacing*/
    position: relative; /*Positioning context for child elements */
}

/*Styling for the navigation bar image (logo)*/
nav img {
    width: 100%; /*Makes the image full width*/
    height: auto; /*Maintains the aspect ratio of the image*/
    max-width: 160px; /*Sets maximum width*/
    border: solid 1px #ffffff44; /*Adds a solid border to all sides*/
    border-radius: 10px; /*Rounds the corners*/
    padding: 7px; /*Adds padding to all sides*/

}

/*Styling for the navigation bar image when screen width isn't larger than 472px*/
@media screen and (max-width:472px) {
    nav img {
        max-width: 110px; /*Sets maximum width*/
        border-radius: 7px; /*Rounds the corners*/
        padding-right: 5px; /*Adds padding to the right*/
    }
}

/* Styling for navigation links */
nav a {
    font-size: 19px; /*Defines a font size of 19px*/
    margin-right: 23px; /*Adds a right margin for spacing between the text*/
    font-weight: 400; /*Sets a font weight*/
    text-decoration: none; /*Removes text decorations*/
    color: #FFFFFF; /*Defines a font color to the text*/
}

/*Styling for the navigation links  when screen width isn't larger than 600px*/
@media screen and (max-width:600px) {
    nav a {
        font-size: 13px; /*Changes font size*/
        font-weight: 600; /*Changes font weight*/
        margin-right: 5px;  

    }
}
header {
    background-image: linear-gradient(#1534fc, #042d9d);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width:908px) {
    header {
        background-image: linear-gradient(#1534fc, #042d9d);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

header img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
    margin-top: 150px;
    border: solid 12px #121212;
}

@media screen and (max-width:1356px) {
    header img {
      width: 350px;
      height: 350px;
      margin-top: auto;
      margin-left: 50px;
      border: none;
    }
  }

  @media screen and (max-width:908px) {
    header img {
      width: 450px;
      height: 450px;
      margin-top: 40px;    
      margin-left: 0;
    }
  }

  @media screen and (max-width:544px) {
    header img {
        width: 270px;
      height: 270px;
      margin-top: 40px;    
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: -30px;
    }
  }

header h1 {
    margin-bottom: 11px;
    color: white;
}

header .line1 {
    font-size: 45px;
}

header .line1and2 {
    font-size: 30px;
    font-weight: 400;
}

header p {
    color: #f0f0f0;
    max-width: 600px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 30px 70px;
}

@media screen and (max-width:642px) {
    main {
    margin: 50px 15px 50px;
        
    }
}

main section {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

@media screen and (max-width:1354px) {
    main section {
    width: 100%;
        
    }
}


.row-display {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

@media screen and (max-width:912px) {
    .row-display {
    display: flex;
    flex-direction: column;
        
    }
}

@media screen and (max-width:426px) {
    .row-display {
    max-height: 500px;
        
    }
}

.project {
    flex-grow: 1;
    height: 300px;
    box-shadow: 0 0 15px rgba(79, 79, 79, 0.268);
    border: solid 1px #313131 ;
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
    position: relative;
}

.project:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.22);
    transition: box-shadow 0.3s;

}

#first-project-height {
    height: 400px;
}

@media screen and (max-width:413px) {
    #first-project-height {
    height: 350px;
        
    }
}



#left-project {
    margin-right: 20px;
}

@media screen and (max-width:912px) {
    #left-project {
    margin-right: 0px;
        
    }
}


.project img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center 30%;
}

@media screen and (max-width:642px) {
    .project img {
     object-fit:cover;
        
    }
}


.project-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0; /* Align the text to the bottom */
    background-image: linear-gradient(#1534fc, #042d9d);
    width: fit-content;
    height: 60px;
    color: white;
    padding: 13px 25px 15px 25px;
    border-top-right-radius: 8px;
    justify-content: space-evenly;
}

@media screen and (max-width:642px) {
    .project-text {
     width: 100%;
     padding: 7px 0 7px 0;
     border-top-right-radius: 0;
        
    }
}

main section h1 {
    margin-bottom: 6px;
}

@media screen and (max-width:642px) {
    main section h1 {
    font-size: 19px;
    text-align: center;
        
    }
}

@media screen and (max-width:642px) {
    main section p {
    text-align: center;
        
    }
}


footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: solid 1px #5c5c5cc5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

footer a {
    margin-right: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;

}

a:hover {
    color: #ffffff8f;
    transition: color 0.4s;
}

@media screen and (max-width:536px) {
    footer section {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;
        margin-bottom: 15px;
        margin-top: 5px;
        
    }
}

@media screen and (max-width:536px) {
    footer a {
        margin-right: 0;
        margin-top: 12px;
    }
}

