/* Reset margins and paddings for all HTML elements */
* {
    margin: 0;
    padding: 0;
}

/*Styling the body section of the page*/
body {
    background-color: #121212; /*Sets a background color to the body*/
    font-family: Arial, Helvetica, sans-serif; /*Defines the font family of text within the body*/
    color: #ebebeb; /*Defines the font color of text within the body*/
}

/*Styling for the navigation bar*/
nav {
    height: 75px; /*Defines the height of the navigation bar*/
    display: flex; /*Sets a flex-box layout*/
    justify-content: space-between; /*Adds space between the image and navigation links*/
    align-items: center; /*Aligns the navigation bar elements vertically*/
    padding-right: 3%; /*Adds padding to the right for spacing*/
    padding-left: 3%; /*Adds padding to the left for spacing*/
    position: relative; /*Positioning context for child elements */
}

/*Styling for the navigation bar image (logo)*/
nav img {
    width: 100%; /*Makes the image full width*/
    height: auto; /*Maintains the aspect ratio of the image*/
    max-width: 160px; /*Sets maximum width*/
    border: solid 1px #ffffff44; /*Adds a solid border to all sides*/
    border-radius: 10px; /*Rounds the corners*/
    padding: 7px; /*Adds padding to all sides*/

}

/*Styling for the navigation bar image when screen's width isn't larger than 472px*/
@media screen and (max-width:472px) {
    nav img {
        max-width: 110px; /*Changes maximum width*/
        border-radius: 7px; /*Changes roundness of corners*/
        padding-right: 5px; /*Changes padding to the right*/
    }
}

/* Styling for navigation links */
nav a {
    font-size: 19px; /*Defines a font size of 19px*/
    margin-right: 23px; /*Adds a right margin for spacing between the text*/
    font-weight: 400; /*Sets a font weight*/
    text-decoration: none; /*Removes text decorations*/
    color: #FFFFFF; /*Defines a font color to the text*/
}

/*Styling for the navigation links  when screen's width isn't larger than 600px*/
@media screen and (max-width:600px) {
    nav a {
        font-size: 13px; /*Changes font size*/
        font-weight: 600; /*Changes font weight*/
        margin-right: 5px;  /*Changes right margin (spacing between the text)*/

    }
}

/*Styling for the header section of the page*/
header {
    background-image: linear-gradient(#1534fc, #042d9d); /*Sets a gradient background color*/
    height: 500px; /*Sets a fixed height*/
    display: flex; /*Use flexbox for layout*/
    align-items: center; /*Aligns the header elements vertically*/
    justify-content: space-evenly; /*Adds spacing between the header elements*/
    padding-left: 50px; /*Adds left padding*/
    padding-right: 50px; /*Adds right padding*/
}

/*Styling for the header when screen's width isn't larger than 908px*/
@media screen and (max-width:908px) {
    header {
        height: auto; /*Makes height automatically adjust to its content*/
        flex-direction: column; /*Display elements as a column*/
        padding-top: 60px; /*Adds top padding*/
        padding-bottom: 60px; /*Adds bottom padding*/
    }
}

/*Syling for the header image (profile picture)*/
header img {
    border-radius: 100%; /*Makes image a circle*/
    width: 500px; /*Sets width*/
    height: 500px; /*Sets height*/
    margin-top: 150px; /*Adds a top margin */
    border: solid 12px #121212; /*Adds a solid border*/
}

/*Styling for the header image when screen's width isn't larger than 1356px*/
@media screen and (max-width:1356px) {
    header img {
      width: 350px; /*Changes width*/
      height: 350px; /*Changes height*/
      margin-top: auto; /*Defines top margin to automatically adjust*/
      margin-left: 50px; /*Adds a left margin*/
      border: none; /*Removes solid border*/
    }
  }

  /*Styling for the header image when screen's width isn't larger than 908px*/
  @media screen and (max-width:908px) {
    header img {
      width: 450px; /*Changes width*/
      height: 450px; /*Changes height*/
      margin-top: 40px; /*Defines top margin*/  
      margin-left: 0; /*Removes left margin*/
    }
  }

 /*Styling for the header image when screen's width isn't larger than 544px*/
  @media screen and (max-width:544px) {
    header img {
        width: 270px; /*Changes width*/
      height: 270px; /*Changes height*/
      margin-left: 5px; /*Adds left margin*/
      margin-right: 5px; /*Adds right margin*/
      margin-bottom: -30px; /*Adds bottom margin*/
    }
  }

/*Styling for h1 elements in the header*/
header h1 {
    margin-bottom: 11px; /*Adds bottom margin*/
    color: white; /*Defines font color*/
}

/*Styling for the second text line in the header*/
header .line2 {
    font-size: 45px; /*Defines font size*/
}

/* Styling for elements with the class 'line1and3' within the 'header' element */
header .line1and3 { 
    font-size: 30px; /*Defines font size*/
    font-weight: 400; /*Defines font weight*/
}

/*Styling for p elements within the header*/
header p {
    color: #f0f0f0; /*Defines font color*/
    max-width: 600px; /*Sets a maximum width*/
    margin-top: 30px; /*Adds top margin*/
    font-size: 20px; /*Defines font size*/
    line-height: 25px; /*Defines line height*/
}

/*Syling for the 'main' section of the page*/
main {
    display: flex; /* Use flex layout */
    justify-content: center; /*Horizontally centers the content*/
    align-items: center; /*Vertically centers the content*/
    flex-direction: column; /*Displays content in a column layout*/
    margin: 70px 30px 70px; /*Adds margins for spacing*/
}

 /*Styling for the 'main' section when screen's width isn't larger than 642px*/
@media screen and (max-width:642px) {
    main {
    margin: 50px 15px 50px; /*Changes marins*/
        
    }
}

/* Styling for 'section' elements within the 'main' element */
main section {
    display: flex; /* Use flex layout */
    justify-content: center; /*Horizontally centers the content*/
    width: 70%; /* Set width to 70% of the parent container */
    flex-direction: column; /*Displays content in a column layout*/
}

/* Styling for 'section' elements within the 'main' element 
when screen's width isn't larger than 1354px*/
@media screen and (max-width:1354px) {
    main section {
    width: 100%; /*Changes width to 100% of the parent container*/
        
    }
}

/*Styling for elements with the .row-display class*/
.row-display {
    display: flex; /* Use flex layout */
    flex-direction: row; /*Displays content in a row layout*/

}

/*Styling for elements with the .row-display class when screen's width isn't larger than 912px*/
@media screen and (max-width:912px) {
    .row-display {
    flex-direction: column; /*Changes content to be displayed in a column layout*/
        
    }
}

/*Styling for elements with the .row-display class when screen's width isn't larger than 426px*/
@media screen and (max-width:426px) {
    .row-display {
    max-height: 500px; /*Sets a maximum height of 500px*/
        
    }
}

/* Styling  for elements with the class 'project' */
.project {
    flex-grow: 1; /* Allow element to grow within the flex container */
    height: 300px;  /* Sets a fixed height height*/
    box-shadow: 0 0 15px rgba(79, 79, 79, 0.268); /*Applies bow shadow*/
    border: solid 1px #313131 ; /*Adds a solid border*/
    border-radius: 20px; /*Adds rounded corners to the borders*/
    margin-top: 30px; /*Adds margin to the top for spacing*/
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
    position: relative;  /* Use relative positioning */
}

/* Hover effect for elements with the class 'project' */
.project:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.22); /*Changes box shadow*/
    transition: box-shadow 0.3s; /*Adds a smooth transition to the box shadow*/

}

/* Styling for the element with the ID 'first-project-height' (the first project)*/
#first-project-height {
    height: 500px; /*Sets a fixed height*/
}

/* Styling for the element with the ID 'first-project-height' when screen's width 
isn't larger than 413px*/
@media screen and (max-width:413px) {
    #first-project-height {
    height: 350px; /*Changes fixed height to*/
        
    }
}


/* Styling for the element with the ID 'left-project' (projects on the left) */
#left-project {
    margin-right: 20px; /*Adds right margin for spacing between the projects*/
}

/* Styling for the element with the ID 'left-project' when screen's width isn't
larger than 912px */
@media screen and (max-width:912px) {
    #left-project {
    margin-right: 0px; /*Changes right margin to 0px*/
        
    }
}

/* Styling for images within elements with the class 'project' */
.project img {
    width: 100%; /* Set image width to 100% of the container */
    height: 100%; /* Set image height to 100% of the container */
    object-fit: cover;  /* Ensure the image covers the container (zooms instead of streching)*/
    object-position: center 30%; /* Set the image position */
}



/* Styling for elements with the class 'project-text' */
.project-text {
    display: flex; /* Use flex layout */
    position: absolute; /* Position the element absolutely */
    flex-direction: column; /*Displays content in a column layout*/
    bottom: 0; /* Align the text to the bottom */
    background-image: linear-gradient(#1534fc, #042d9d);
    width: fit-content; /* Set width based on content */
    height: 60px; /*Sets a fixed height*/
    color: white; /*Defines text color*/
    padding: 13px 25px 15px 25px; /*Adds padding to all sides of the container*/
    border-top-right-radius: 8px; /*Adds roundness to the border at the top right*/
    justify-content: space-evenly; /* Spaces content evenly */
}

/* Styling for elements with the class 'project-text' when screen's width
isn't larger than 642px*/
@media screen and (max-width:642px) {
    .project-text {
     width: 100%; /*Changes width to 100% of it's parent*/
     padding: 7px 0 7px 0; /*Changes the padding of all sides of the container*/
     border-top-right-radius: 0; /*Changes border roundness at the top right to 0*/
        
    }
}

/* Styling for 'h1' elements within 'section' elements in the 'main' element */
main section h1 {
    margin-bottom: 6px; /*Adds bottom margin*/
}

/* Styling for 'h1' elements within 'section' elements in the 'main' element 
when screen's width isn't larger than 642px*/
@media screen and (max-width:642px) {
    main section h1 {
    font-size: 19px; /*Defines font size*/
    text-align: center; /*Aligns the text horizontally*/
        
    }
}

/*Styling for 'p' elements within 'section' elements in the 'main' element
when screen's width isn't larger than 642px*/
@media screen and (max-width:642px) {
    main section p {
    text-align: center; /*Aligns the text horizontally*/
        
    }
}

/*Styling for the footer of the page*/
footer {
    width: 100%; /* Set width to 100% */
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 10px; /* Adds padding to the bottom */
    border-top: solid 1px #5c5c5cc5; /*Adds a solid border to the top*/
    display: flex; /* Use flex layout */
    flex-direction: column; /* Display content in a column layout */
    align-items: center; /* Center-align content */
}

/* Styling for 'section' elements within the 'footer' element */
footer section {
    margin: 20px; /*Adds margin to all sides for spacing*/
    display: flex; /* Use flex layout */
    flex-direction: row; /* Display content in a row layout */
}

/* Styling for 'section' elements within the 'footer' element when screen's width
isn't larger than 536px */
@media screen and (max-width:536px) {
    footer section {
        display: flex; /* Use flex layout */
        flex-direction: column; /* Display content in a column layout */
        text-align: center; /*Centers the text horizontally*/
        margin: 0px; /*Changes margin of all sides to 0*/
        margin-bottom: 15px; /*Adds bottom margin*/
        margin-top: 5px; /*Adds top margin*/
        
    }
}

/*Styling for 'a' elements (links) within the 'footer' element */
footer a {
    margin-right: 30px; /*Adds a right margin for spacing between 'a' elements (links)*/
    font-weight: 400; /*Defines font weight*/
    text-decoration: none; /*Removes text decoration*/
    color: #FFFFFF; /*Defines font color*/
    font-size: 17px; /*Defines font size*/

}

/* Hover effect for 'a' elements within the 'footer' element */
a:hover {
    color: #ffffff8f; /*Changes font color*/
    transition: color 0.4s; /*Adds a smooth transition to the font color*/
}

/*Styling for 'a' elements (links) within the 'footer' element when screen's
width isn't larger than 536px */
@media screen and (max-width:536px) {
    footer a {
        margin-right: 0; /*Changes right margin to 0*/
        margin-top: 12px; /*Adds top margin*/
    }
}

